a:link, a:hover, a:active, a:visited { color: inherit; }
* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

body {
    height:100%;
}

html, body, td, div, tr, table {
    font-family:sans-serif;
    font-size: 14px;
    line-height: 20px;
    border:0;
    padding:0;
    margin:0;
}

#gutter {
    background: linear-gradient( #666, #fff);
    border-right: 1px solid black;
    height: 100%;
    width: 120px;
    float: left;
    overflow: hidden;
    position: relative;
    color:#000;
}
#gutter .timeStep {
    position: absolute;
    text-align: right;
    width: 100%;
    opacity: 0;
}
#gutter .timeStep.stable {
    opacity: 1;
}

#bottomimage {
    position:absolute;
    bottom:0;
}

#timepointer a {
    text-decoration: none;
}
#timepointer {
    padding: 5px 0 5px 0;
    width:100%;
    position:relative;
    text-align:right;
    color:white;
    background-color:red;
    z-index:1;
}



/** eventTree */

#eventTree {
    background: linear-gradient( #666, #fff);
    height: 100%;
    position: relative;
    overflow: hidden;
}
#eventTree .stable,
#gutter .stable {
    transition: left 0.5s, opacity 0.5s;
    -webkit-transition: left 0.5s opacity 0.5s;
}
#eventTree .event.stable {
    opacity: 1;
}
#eventTree.smooth .stable, #gutter.smooth .stable {
    transition: top 0.5s, height 0.5s, left 0.5s, width 0.5s;
  -webkit-transition: top 0.5s, height 0.5s, left 0.5s, width 0.5s;
}
#eventTree .event {
    overflow: hidden; 
    position: absolute;
    opacity: 0;
}
#eventTree .container {
    position:absolute;
    top: 0;
    height: 100%;
}
#eventTree .leaf {
    /*border-top:1px solid black;*/
    padding: 3px 3px 3px 24px;
    text-indent: -20px;
    text-overflow: ellipsis;
}
#eventTree .label {
    padding: 3px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
        /*    -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none */;
    height: 100%;
}
#eventTree .label.rot {
    -moz-transform: rotate(-90deg);  
    -ms-transform: rotate(-90deg);  
    -o-transform: rotate(-90deg);  
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg); 
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    text-align: right;
}

#sidebar {
    width: 360px;
    height:100%;
    float: right;
}
#tabs {
    background-color: #666;
    height: 32px;
}
.tab {
    background-color: #ddd;
    border-right: solid 1px #fff;
    padding: 8px 16px;
}
.tab.active {
    background-color: #fff;
}

.card {
    height: 100%;
    overflow: auto;
}

#contextCard {
    padding: 10px;
}
#globe {
    display: block;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    background-repeat:no-repeat;
    background-position: center center;
}
#globeLabel {
    text-align:center;
    display:block;
    padding: 4px 0 8px 0;
}

#metaCard {
    display: none;
    padding: 10px;
}
#wikipediaCard {
    height:100%;
    width:100%;
    display:none;
    border: none;
}

.dataTable {
    width:100%;
    background-color: #eee;
    border-collapse:collapse;
    border: 1px solid #888;
}

.dataTable td {
    padding: 4px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.dataTable .data {
    text-align: right;
} 

