a:link, a:hover, a:active, a:visited { 
    color: inherit;
}

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

body {
    height:100%;
    background: -moz-linear-gradient( #666, #fff);
    background: -ms-linear-gradient( #666, #fff);
    background: -o-linear-gradient( #666, #fff);
    background: -webkit-linear-gradient( #666, #fff);
    background: linear-gradient( #666, #fff);

}

html, body, td, div, tr, table {
    font-family:sans-serif;
    font-size: 14px;
    line-height: 20px;
    border:0;
    padding:0;
    margin:0;
}

#gutter {
    border-right: 1px solid black;
    height: 100%;
    width: 120px;
    float: left;
    overflow: hidden;
    position: relative;
    color:#000;
}
#gutter .timeStep {
    position: absolute;
    text-align: right;
    width: 100%;
    opacity: 0;
}
#gutter .timeStep.stable {
    opacity: 1;
}

#bottomimage {
    position:absolute;
    bottom:0;
}


#timepointer {
    vertical-align:middle;
    padding: 5px 0 5px 0;
    width:100%;
    position:relative;
    text-align:right;
    color:white;
    background-color:red;
    z-index:1;
    height: 30px;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


#timepointer:hover .time,
#timepointer .control {
    display: none;
}

#timepointer .time,
#timepointer:hover .control {
    display: inline;
}


/** eventTree */

#eventTree {
    height: 100%;
    position: relative;
    overflow: hidden;
}
#eventTree .stable,
#gutter .stable {
    transition: left 0.5s, opacity 0.5s;
    -webkit-transition: left 0.5s opacity 0.5s;
}
#eventTree .event.stable {
    opacity: 1;
}
#eventTree.smooth .stable, #gutter.smooth .stable {
    transition: top 0.5s, height 0.5s, left 0.5s, width 0.5s;
  -webkit-transition: top 0.5s, height 0.5s, left 0.5s, width 0.5s;
}
#eventTree .event {
    display:block;
    overflow: hidden; 
    position: absolute;
    opacity: 0;
    text-decoration: none;
}
#eventTree .container {
    position:absolute;
    top: 0;
    height: 100%;
}
#eventTree .leaf {
    /*border-top:1px solid black;*/
    padding: 3px 3px 3px 24px;
    text-indent: -20px;
    text-overflow: ellipsis;
}
#eventTree .label {
    padding: 3px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    height: 100%;
}
#eventTree .label.rot {
    -moz-transform: rotate(-90deg);  
    -ms-transform: rotate(-90deg);  
    -o-transform: rotate(-90deg);  
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg); 
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    text-align: right;
}

#sidebar {
    width: 360px;
    height:100%;
    float: right;
}
#tabs {
    height: 32px;
}
.tab {
    background-color: #ddd;
    border-right: solid 1px #fff;
    padding: 8px 16px;
}
.tab.active {
    background-color: #fff;
    font-weight: bold;
}

.card {
    height: 100%;
    overflow: auto;
    background-color:#fff;
}
.card.active {
    display: block;
}

#contextCard {
    padding: 10px;
}
#globe {
    display: block;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    background-repeat:no-repeat;
    background-position: center center;
}
#globeLabel {
    text-align:center;
    display:block;
    padding: 4px 0 8px 0;
}

#metaCard {
    display: none;
    padding: 10px;
}
#wikipediaCard {
    height:100%;
    width:100%;
    display:none;
    border: none;
}

.dataTable {
    width:100%;
    background-color: #eee;
    border-collapse:collapse;
    border: 1px solid #888;
}

.dataTable td {
    padding: 4px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.dataTable .data {
    text-align: right;
} 

